*.exe
*.ilk
*.pdb
*.vs
Debug/
Release/
Floorplan/
Thumbs.db
glew-2.1.0
.idea/discord.xml
.idea/modules.xml
.idea/discord.xml
.idea/modules.xml
.idea/NonEuclidean.iml
.idea/vcs.xml
NonEuclidean/Shaders/pink.frag.log
NonEuclidean/Shaders/portal.frag.log
NonEuclidean/Shaders/sky.frag.log
NonEuclidean/Shaders/texture.frag.log
